# Project Dependencies for CampusQuest

bertopic==0.17.0
chainlit==2.5.5
langchain==0.3.25  # Update to the latest version if needed
langchain-huggingface==0.1.2
langchain-core==0.3.58  
langchain-community==0.3.23  
numpy==2.2.4
pandas==2.2.3
transformers==4.51.3 # Update to the latest version if needed
sentence-transformers==4.1.0 # Update to the latest version if needed

#Just do 